* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Merriweather', serif, helvetica;
    height: 100vh;
    background-color: #7EC969;
    
  }
main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5vmin;
}
header {
    text-align: center;
    font-size: 9vmin;
    margin: 3vw;
    padding-top: 6vmin;
    font-weight: 100;
}
#scoreboard {
    margin-top: -10vh;
    margin-bottom: -8vh;
    padding-bottom: 2vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
}
#scoreboard > span {
    padding: 12vmin;
    text-align: center;
    font-size: 3vmin;

}
.holes {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
}
.hole {
    background: #55380B;
    border-radius: 50%;
    width: 13vmax;
    height: 10vmax;
    margin: 2vmin 7vmin;
    padding-top: 2vmin;
} 
button {
    margin: 8vmin auto;
    display: block;
    height: 7vmin;
    width: 200px;
    background-color: #EEC47D;
    font-size: 5vmin;
    border: 1px solid black;
    font-family: helvetica;
}










